
doctype 5
html.wf-ffmetaserifwebpro-n5-active.wf-ffmetaserifwebpro-n7-active.wf-ffmetawebpro-n4-active.wf-active(lang='en')
  head
    title joola.io | Status Page
    link(rel='stylesheet', href='/assets/css/site.css')
  body.status
      div.logo
        div.logo-image
      div.status-list
        ui.statuses
        h3 Operating System
        for result in Object.keys(data.os)
          p #{result}: #{data.os[result]}
        
        h3 Dependencies
        for result in Object.keys(data.dependencies)
          p #{result}: #{data.dependencies[result]}           

        h3 devDependencies
        for result in Object.keys(data.devDependencies)
          p #{result}: #{data.devDependencies[result]}           
        